@model IEnumerable<TaskManagement.Models.TaskModel>;
@using TaskManagement.Models
@inject  TaskManagement.Data.TaskContext _context  // Inject the TaskContext
@{
    ViewData["Title"] = "Tasks";
}
<h1>Task List</h1>
<div style="margin:15px 0px;display:flex;justify-content:space-between;">
    <a asp-controller="Task" asp-action="Create">Create New</a>

    @using (Html.BeginForm("Search", "Task", FormMethod.Get))
    {
        <div style="margin-right:40px;"> 
            <input type="text" name="searchTerm" />
            <input type="submit" value="Search" />
        </div>
    }

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
              Assigned To  <!-- Display user name -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                   
                     
                    @{
                        var user = _context.Users.FirstOrDefault(u => u.Id == item.UserId);
                        if (user != null)
                        {
                            @Html.DisplayFor(modelItem => user.FullName)
                        }
                    }
                    
                </td>
                <td>
                    <a asp-controller="Task" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                   @* <a asp-page="./Details" asp-route-id="@item.Id">Details</a>*@
                    <a asp-controller="Task" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>